POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=uripet_db

JWT_SECRET=secretdsfawe24234234
JWT_EXPIRATION=86400000
JPA_DDL_AUTO=update

MAIL_USERNAME=alumano@utec.edu.pe
MAIL_PASSWORD=alumano123

BUCKET_NAME=uripet-pet-images
AWS_REGION=us-east-1